﻿html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


body{
    font-family: 'Lora', serif;
    position: relative;
    font-size: 14px;
    -webkit-print-color-adjust:exact;
}


h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}




.title{
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    margin-top: 20px;
    margin-bottom:30px;
}




.title h2{
    padding: 7px;
}

.myCompany{
    margin-top: 20px;
}

/*.myClient{
    margin-top: 20px;
}*/

.myCompany h1{
    text-align: center;
    margin-top: 83px;
}


.invoiceItemLine th:nth-child(1), .invoiceItemLine tr td:nth-child(1){
    width: 10%;
    border-right: 3px solid #fff;
    text-align: center;
}
.invoiceItemLine th:nth-child(2), .invoiceItemLine tr td:nth-child(2){
    width: 30%;
}
.invoiceItemLine th:nth-child(3), .invoiceItemLine tr td:nth-child(3){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}
.invoiceItemLine th:nth-child(4), .invoiceItemLine tr td:nth-child(4){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}
.invoiceItemLine th:nth-child(5), .invoiceItemLine tr td:nth-child(5){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}

.invoiceItemLine tr td:nth-child(3) .form-control{
    text-align: center;
}
.invoiceItemLine tr td:nth-child(4) .form-control{
    text-align: center;
}
.invoiceItemLine tr td:nth-child(5) .form-control{
    text-align: center;
}

.invoiceItemLine2 th:nth-child(1), .invoiceItemLine2 tr td:nth-child(1){
    width: 40%;
}
.invoiceItemLine2 th:nth-child(2), .invoiceItemLine2 tr td:nth-child(2){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}
.invoiceItemLine2 th:nth-child(3), .invoiceItemLine2 tr td:nth-child(3){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}
.invoiceItemLine2 th:nth-child(4), .invoiceItemLine2 tr td:nth-child(4){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}

.invoiceItemLine2 tr td:nth-child(2) .form-control{
    text-align: center;
}
.invoiceItemLine2 tr td:nth-child(3) .form-control{
    text-align: center;
}
.invoiceItemLine2 tr td:nth-child(4) .form-control{
    text-align: center;
}

.invoiceItemLine2 tr td .form-control{
    background: transparent;
}

.invoiceItemLine2 tr td{
    padding: 0!important;
}

.invoiceItemLine2 tr:nth-child(even){
    background: #fafbfb;
}

.invoiceItemLine tr td .form-control{
    background: transparent;
}

.invoiceItemLine tr td{
    padding: 0!important;
}

.invoiceItemLine tr:nth-child(even){
    background: #fafbfb;
}

/*.add-more{
    visibility: hidden;
}

.table-responsive:hover .add-more{
    visibility: visible;
}*/

.add-more{
    position: absolute;
    right: -8%;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    bottom: 116px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    color: #fff;
    background: #0088cc;
}

.invoiceItemLine .form-control:focus{
    border-bottom: 1px solid #555;
}


.table-responsive{
    margin-top: 20px;
}

.table>thead>tr>th{
    background: #efefef;
    border-bottom: none;
}
.table td{
     border-top: none!important;
     vertical-align: middle!important;
 }
/*
.table td .form-control{
    width: 84%;
    float: left;
}*/

/*.table:hover td{
    border-bottom: 1px solid #cccccc;
}*/


.form-control{
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    transition: none;
}

.form-control:focus{
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.client-control{
    visibility: hidden;
}

.company, .client, .myInvoice{
    padding: 10px;
    border: 1px solid transparent;
}

/*.company:hover, .client:hover, .myInvoice:hover{
    border: 1px solid #ccc;
}


.company:hover .form-control, .client:hover .form-control, .myInvoice:hover .form-control{
    border-bottom: 1px solid #ccc;
}*/

.company:hover .form-control:focus, .client:hover .form-control:focus, .myInvoice:hover .form-control:focus{
    border-bottom: 1px solid #555;
}

/*.client input.form-control:active .client{
    padding: 10px;
    border: 1px solid #ccc;
}*/



/*.client:hover .client-control, .input-group:hover .input-group-btn{
    visibility: visible!important;
    cursor: pointer!important;
}*/

/*.visible{
    visibility: visible;
    cursor: pointer;
}*/

.form-group{
    width: 100%;
    margin-bottom: 0;
}

.form-group .control-label{
    width: 32%;
    float: left;
    /*font-size: 14px;*/
    padding-top: 7px;

}


/*.form-group .form-control{
    width: 60%;
    padding-left: 0;
}*/


.input-group{
    width: 100%;
    margin-bottom: 0;
}

input.form-control:read-only{
    background: transparent;
}

.input-group .control-label, .input-group .form-control,  .input-group .input-group-btn{
    display: table-cell;
}
.input-group .control-label{
    width: 30%;
    vertical-align: middle;
}


/*.input-group .input-group-btn{
    font-size: 14px;
    visibility: hidden;
}*/

.myClient{
    margin-top: 30px;
    margin-bottom: 30px;
}



/*.client{
    margin-top: -50px;
}*/

.client .status{
    margin: 5px 0;
    border-bottom: 1px solid #555;
}
.status .form-control{
    border: none!important;
}

.client-control{
    margin: 0 15px;
}

/*.myInvoice{
    margin-top: 75px;
}*/

.form-control[disabled]{
    background: transparent;
    cursor: default;
}

/*.client-control .btn{
    border-radius: 0;
    background: #ce8483;
    color: #fff;
}*/

.input-group .form-control{
    width: 100%;
}

.input-group-addon{
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
    visibility: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
}

/*
.myInvoice:hover .input-group-addon,.myInvoice:hover .remove{
    visibility: visible;
}
*/

.input-group:hover .input-group-addon{
    visibility: visible!important;
}

.input-group:hover .myBtn{
    visibility: visible!important;
}


.calculate{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/*.myInvoice .input-group .myBtn{
    visibility: hidden;
}

.myInvoice .input-group .form-control:hover .myBtn{
    visibility: visible;
}*/

.form-control.date1{
    width: 99%;
}

.input-group-addon{
    position: relative;
    left: 5px;
    border: none;
    padding: 0;
}

.remove{
    position: relative;
    bottom: 10px !important;
    left: 16px !important;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    visibility: hidden;
}

.list-group-item input{
    border: none;
    width: 100%;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.list-group-item:hover{
    cursor: pointer;
    background: #efefef;
}

.list-group-item input:focus{
    outline: none;
}

.border{
    border: 1px solid #ccc;
    padding: 10px;
}

.bottomBorder{
    border-bottom: 1px solid #cccccc;
}

.form-control:focus{
    border-color: #555!important;
}

/*.invoiceList th, .invoiceList td{
    text-align: center;
}*/

.invoiceList tr{
    border-bottom: 1px solid #555;
}

.product .form-control{
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.product{
    margin-top: 20px;
}

.product textarea{
    min-height: 100px;
    max-height: 500px;
/*    width: 100%;*/
}

.product textarea:read-only{
    background: transparent!important;
}



.product textarea { resize:vertical; }

.product .input-group{
    margin: 10px 0;
}

.product-details .form-control:read-only{
    border: none;
    border-bottom: 1px solid #ccc;
}

#ui-datepicker-div{
    z-index: 2000!important;
}

.ui-datepicker-calendar tr td .ui-state-default{
    text-align: center !important;
}

/*#datepicker1, #datepicker2{
    width: 96%;
    margin-left: 12px;
}*/

.myBtn{
    font-size: 15px;
}

.popover{
    width: 100%!important;
    left: 487px !important;
}

.container.invoice-edit{
    position: relative;
}




.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.grid {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

.grid tr:hover{
    background: #000;
}

.client input.ng-dirty:focus, .invoiceItemLine input.productName.ng-dirty:focus{
    border-bottom: 1px solid red !important;
}

/*.ng-touch{
    border-bottom: 1px solid red;
}*/

.client:hover input.form-control.ng-dirty{
   border-bottom: 1px solid red;
}

/*.previewDoc{
    width: 100%;
    height: 100%;
    background: #000 !important;
}*/

@media print {
    .noPrint {
        display:none;
    }
    #Header, #Footer { display: none !important; }
    .invoicePrint{
        font-size: 18px;
    }

    .table>thead>tr>th {
        box-shadow: inset 0 0 0 1000px #efefef!important;
        border-bottom: none;
    }
}


.invoicePrint{
    width: 793px;
    height: auto;
    min-height: 793px;
    display: block;
    margin: 20px auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    font-size: 15px;
    padding: 0 20px;
}

.invoicePrint th:nth-child(1), .invoiceItemLine2 tr td:nth-child(1){
    width: 40%;
}
.invoicePrint th:nth-child(2), .invoiceItemLine2 tr td:nth-child(2){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}
.invoicePrint th:nth-child(3), .invoiceItemLine2 tr td:nth-child(3){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;
}
.invoicePrint th:nth-child(4), .invoiceItemLine2 tr td:nth-child(4){
    width: 20%;
    border-left: 3px solid #fff;
    text-align: center;

}

.invoicePrint tr td:nth-child(2) .form-control{
    text-align: center;
}
.invoicePrint tr td:nth-child(3) .form-control{
    text-align: center;
}
.invoicePrint tr td:nth-child(4) .form-control{
    text-align: center;
}

.invoicePrint tr td .form-control{
    background: transparent;
}

.invoicePrint tr td{
    padding: 0!important;
}

.invoicePrint tr:nth-child(even){
    background: #fafbfb;
}


.invoicePrint .company,.invoicePrint .client,.invoicePrint .myInvoice{
    padding: 10px;
    border: none;
}

.invoicePrint .client:hover,.invoicePrint .myInvoice:hover{
    border: none;
}


.invoicePrint .company:hover .form-control,.invoicePrint .client:hover .form-control, .invoicePrint .myInvoice:hover .form-control{
    border-bottom: none;
}

.invoicePrint .company:hover .form-control:focus,.invoicePrint .client:hover .form-control:focus,.invoicePrint .myInvoice:hover .form-control:focus{
    border-bottom: none;
}


<!--Glass Design invoice-->

.glassDesign .input-group{
    font-size: 14px!important;
}

.btn-group-vertical{
    width: 100%;
}

.btn-group-vertical .btn{
    width: 100%;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 10px;
}


.invoice_num{
    width:45%!important;
    font-size: 16px;
    font-weight: bold;
}

/*.glassTable{
    border-bottom: 1px solid #ccc;
}*/

.table-responsive{
    border-bottom: 1px solid #ccc;
}

/*.table>thead>tr>th {
    background: #aaa;
    border-bottom: none;
}*/

/*.glassTable td{
    padding: 0!important;
}

.glassTable th:nth-child(1), .glassTable tr td:nth-child(1){
    width: 30%;
    border-right: 3px solid #fff;
    text-align: center;
}
.glassTable th:nth-child(2), .glassTable tr td:nth-child(2){
    width: 20%;
    text-align: center;
}
.glassTable th:nth-child(3), .glassTable tr td:nth-child(3){
    width: 10%;
    border-left: 3px solid #fff;
    text-align: center;
}
.glassTable th:nth-child(4), .glassTable tr td:nth-child(4){
    width: 10%;
    border-left: 3px solid #fff;
    text-align: center;
}
.glassTable th:nth-child(5), .glassTable tr td:nth-child(5){
    width: 15%;
    border-left: 3px solid #fff;
    text-align: center;
}
.glassTable th:nth-child(6), .glassTable tr td:nth-child(5){
    width: 15%;
    border-left: 3px solid #fff;
    text-align: center;
}

.glassTable tr td:nth-child(2) .form-control{
    text-align: center;
}

.glassTable tr td:nth-child(3) .form-control{
    text-align: center;
}
.glassTable tr td:nth-child(4) .form-control{
    text-align: center;
}
.glassTable tr td:nth-child(5) .form-control{
    text-align: center;
}
.glassTable tr td:nth-child(6) .form-control{
    text-align: center;
}

.totalCalculation .input-group{
    float: right;
    border: 1px solid #ccc;
    padding: 0 5px;
}

.totalCalculation .input-group .control-label{
    border-right: 1px solid #ccc;
    width: 40%;
}
.totalCalculation .input-group .form-control{
    font-size: 16px;
    font-weight: bold;
}

#PrintInvoice .control-label{
    font-size: 12px;

}

.signature{
    margin-top: 50px;
}

.signature .control-label{
    display: block;
    text-align: center;
    width: 100%;
}*/


#PrintInvoice{
    margin-bottom: 30px;
}

.details{
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
/*
.row{
  margin: 0;
}*/

/*.img-responsive{
  margin-top: 12px;
}*/
.input-group{
  display: table;
}

.input-group .control-label{
  display: table-cell;
  vertical-align: middle;
  width: 35%;
  padding: 0;
  font-weight: bold;
  font-size:13px;
}

.input-group .form-control:read-only{
  background: transparent;
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius: 0;
}

.receiver{
  margin-top: 40px;
}

.receiver .input-group{
  width: 100%;
}

/*.client_details .input-group .form-control:read-only{
  display: block;
  padding: 0;
}*/

.faktura{
  margin: 0 auto;
  width: 40%;
}

.faktura .control-label{
  font-size: 15px;
  font-weight: bold;
}

.faktura .form-control{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 40%;
}

.table{
  margin-top: 10px;
}

.table > thead > tr > th{
  background: #4B4F52;
  color: #fff;
  border-bottom: none;
}

.glassTable td{
  padding: 0!important;
  border: none!important;
}

.glassTable th:nth-child(1), .glassTable tr td:nth-child(1){
  width: 40%;
  /*border-right: 1px solid #fff!important;*/
  text-align: center;
}
.glassTable th:nth-child(2), .glassTable tr td:nth-child(2){
  width: 20%;
  text-align: center;
  border-left: 1px solid #fff;
}
.glassTable th:nth-child(3), .glassTable tr td:nth-child(3){
  width: 10%;
  border-left: 1px solid #fff;
  text-align: center;
}
.glassTable th:nth-child(4), .glassTable tr td:nth-child(4){
  width: 10%;
  border-left: 1px solid #fff;
  text-align: center;
}
.glassTable th:nth-child(5), .glassTable tr td:nth-child(5){
  width: 10%;
  border-left: 1px solid #fff;
  text-align: center;
}
.glassTable th:nth-child(6), .glassTable tr td:nth-child(6){
  width: 10%;
  border-left: 1px solid #fff;
  text-align: center;
}

.glassTable tr td:nth-child(2) .form-control{
  text-align: center;
}

.glassTable tr td:nth-child(3) .form-control{
  text-align: center;
}
.glassTable tr td:nth-child(4) .form-control{
  text-align: center;
}
.glassTable tr td:nth-child(5) .form-control{
  text-align: center;
}
.glassTable tr td:nth-child(6) .form-control{
  text-align: center;
}

.glassTable td .input-group{
  width: 100% !important;
}

.table-responsive{
  border-bottom: 1px solid #ccc;
}


@media print{
  .table>thead>tr>th {
    box-shadow: inset 0 0 0 1000px #4B4F52!important;
    border-bottom: none;
    color: #fff !important;
    background: transparent;
  }
  .noPrint{
    display: none;
  }
  #invoicePrint{
      padding: 0!important;
  }
}


.totals{
  margin-top: 35px;
}


.signature{
  margin-top: 60px;
}

.signature .input-group{
  width:  100%;
}

.signature .control-label{
  display: block;
  text-align: center;
  width: 100%;
}

.signature .form-control{
  border-bottom: 1px solid #000000 !important;
  width: 100% !important;
}

.noPadding{
    padding-bottom: 0;
    padding-top: 0;
}

#PrintInvoice .form-control{
    font-size: 14px;
    height: 27px;
    padding-bottom: 0;
    padding-top: 0;
}

#PrintInvoice .control-label{
    font-size: 14px;
}

.invoice-details .input-group{
    margin-bottom: 10px!important;
}

#Details .form-control{
    border: none;
}

#Details .input-group{
    margin-bottom: 0 !important;
}



textarea{
    padding: 6px 12px;
}

textarea:read-only{
    border-color: #ccc;
}

.glassTable input{
    border: none;
}


.pointer {
    cursor: pointer;
}
.highlight {
    color: #000;
    background-color: #CBF6FF;
}
.expanded {
    height: 400px;
}
.position-fixed {
    position: fixed;
    z-index: 1000;
}

.table-responsive{
    overflow-x: visible;
}

.noted{
    background: transparent;
    /*border-bottom: 2px solid #fff!important;*/
}

.noted:focus{
    /*border-bottom: 1px solid #fff!important;*/
} 