﻿/*First half ... text*/

.invoice-pdf .nixInfo tr td:nth-child(1){
    width: 50%;

}
.invoice-pdf .nixInfo tr td{
    text-align: left;
}

.invoice-pdf  td{
  padding-left: 10px;
}

.invoice-pdf .CompanyInfo table{
    margin-left: auto;
    margin-right:20px;
}
.invoice-pdf .CompanyInfo .do{
    vertical-align: top;
    text-align: left;
}

body{
    overflow: scroll;
}
#print{
    overflow: visible !important;
}


 /*Second half ... tables*/
.invoice-pdf .main-table th{
    background-color: #000066;
    color: white;
    border: 1px solid black;
}
.invoice-pdf .main-table th:nth-child(1){
    width: 60%;
}
.invoice-pdf .main-table table:nth-child(1){
}
.invoice-pdf .bottom-table{
    position: absolute;
    bottom: 0;
    left: 0;
}
.invoice-pdf .main-table{
    min-height: 500px;
    position: relative
}

.a4{
    width: 40cm;
    min-height: 59.4cm;
    padding: 20px;
}

.invoice-pdf .bottom-table{
    width: 100%;
}
.invoice-pdf .bottom-table tr{
    background-color: #0081c2;
    border: 1px solid black;
    text-align: right;
}
/*.pdfTable td{*/
    /*padding-right: 20px;*/
    /*text-align: left;*/
/*}*/
