
/* CSS used here will be applied after bootstrap.css */

.demo {
    padding:50px;
}

.demo label{
    top:3px; left:15px;
    margin-right:30px;
    position:relative;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    /*width: 200px;*/
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.DmsDirective li{
    cursor: pointer;
}
.dragover {
    border: 5px dashed blue;
}

input.faChkRnd, input.faChkSqr {
    visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after,
input.faChkSqr:checked:after, input.faChkSqr:after {
    visibility: visible;
    font-family: FontAwesome;
    font-size:25px;height: 17px; width: 17px;
    position: relative;
    top: -3px;
    left: 0px;
    background-color:#FFF;
    display: inline-block;
}

input.faChkRnd:checked:after {
    content: '\f058';
}

input.faChkRnd:after {
    content: '\f10c';
}

input.faChkSqr:checked:after {
    content: '\f14a';
}

input.faChkSqr:after {
    content: '\f096';
}

 .fancy-checkbox span:before {
     font-family: "FontAwesome";
     font-style: normal;
     width: 1em;
     height: 1em;
     content: '\f10c';
     margin-right: .3em;
 }
 
.panel-heading button,
.panel-heading select,
.panel-heading a{
    float:right;
    margin:0;
    margin-left: 5px;
    margin-top: -5px;
}
 /*table tbody tr td:nth-child(1){*/
     /*max-width: 2px;*/
     /*background-color: black;*/

 /*}*/
 /*.fixed{*/
     /*table-layout: fixed;*/
 /*}*/
/*.fixed th{*/
    /*width: min-width:10% !important;*/
/*}*/
 /*.NoLayout table{*/
     /*table-layout: auto;*/
 /*}*/


.companyModalBtn{
    margin:0;
}
 /*form p{*/
     /*padding-top: 8px;*/
 /*}*/

.percentInput { position:relative; display: inline-block; }
.percentInput span { position: absolute; top:2px; right: 4px; line-height:100%; vertical-align: middle; }
.num_percent { width:50%; text-align: left; padding-right: 15px; }
.form-right-btn button{
    margin:0;
}
table button{
    margin:0;
}

.textInput{
    text-align: left;
}
.numberInput{
    text-align: right;
    /*width: 100px;*/
}
.dataInput{
    text-align: center;
}

 /*Delete row button*/
.buttonX{
    /*padding-top: 9px !important;*/
     cursor:pointer;
     width: 1%;
    /*height: 100%;*/
}
.buttonTd{
    background-color: white !important;
    box-shadow:none !important;
    width: 1% !important;
}

.showMenu {
    display: none !important;
}
/*table th{*/
    /*padding: 0 !important;*/
/*}*/
/*Table row Focus and hover*/
 /*table tbody tr{*/
     /*box-shadow:0 3px 8px rgba(0,0,0,0.3) !important;*/
     /*padding-bottom: 23px;*/
 /*}*/
 /*table tbody tr:hover{*/
     /*box-shadow:0 3px 8px rgba(0,0,0,0.3) !important;*/
     /*border-color: black;*/
     /*/!*border-bottom: 2px solid black;*!/*/
 /*}*/
 /*table tbody tr:focus{*/
     /*/!*border:1px solid #aaa;*!/*/
     /*box-shadow:0 3px 8px rgba(0,0,0,0.3) !important;*/
     /*border-color: black;*/

 /*}*/

 /*table tbody tr:hover{*/
     /*/!*border:1px solid #aaa;*!/*/
     /*background:#eee;*/
     /*box-shadow:23px 3px 8px rgba(0,0,0,20);*/
 /*}*/

.form-group{
    min-height: 40px;
}
.textPadding{
    padding-left: 12px;
    padding-top: 7px;
    /*padding-right: 20px;*/
}
input{
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0 !important;
}
 input.form-control:focus{border-color: black !important;  box-shadow: 0 4px 2px -2px black  }
 textarea.form-control:focus{border-color: black !important; box-shadow: 0 4px 2px -2px black  }
 select.form-control:focus{border-color: black !important;box-shadow: 0 4px 2px -2px black }

 /*textarea:focus,*/
 /*input[type="text"]:focus,*/
 /*input[type="password"]:focus,*/
 /*input[type="datetime"]:focus,*/
 /*input[type="datetime-local"]:focus,*/
 /*input[type="date"]:focus,*/
 /*input[type="month"]:focus,*/
 /*input[type="time"]:focus,*/
 /*input[type="week"]:focus,*/
 /*input[type="number"]:focus,*/
 /*input[type="email"]:focus,*/
 /*input[type="url"]:focus,*/
 /*input[type="search"]:focus,*/
 /*input[type="tel"]:focus,*/
 /*input[type="color"]:focus,*/
 /*select:focus,*/
 /*textarea:focus{*/
     /*border-color: black;*/
     /*box-shadow: 0 1px 1px black inset, 0 0 8px black;*/
     /*outline: 0 none;*/
 /*}*/
/*table td{*/
    /*padding: 0 !important;*/
    /*/!*padding-right: 8px !important;*!/*/
/*}*/
 table td input {
     border-bottom: 0px !important;
 }
 
 p{
     margin: 0 0 7px !important;
 }
 tr .buttonX {
     /*visibility: hidden;*/
 }
 tr:hover .buttonX {
     /*visibility: visible;*/
 }

 .has-error{
    border-bottom: 1px solid red;
 }
table div{
white-space: normal !important;
}
.dialogAutocomplete{
background: transparent;
}
.dialogAutocomplete md-autocomplete-wrap{
box-shadow: none;
border-top: 0;
border-right: 0;
border-left: 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.dialogAutocomplete md-autocomplete-wrap input{
border-top: 0;
border-right: 0;
border-left: 0;
}

table,
table div{
overflow: hidden;
white-space: nowrap;
}
.noEditableSelect{
margin: 0 !important;
padding: 0 !important;
border: 0 !important;
}
.OfferNumber,
.InvoiceNumber{
width: 1% !important;
}
.ID{
width: 1% !important;
}
.Name,
.Comment,
.SupplierName,
.ExpenseName,
.CompanyName,
.ProductName,
.FileName{
width: 40%;
}
.CreatedBy{
    width: 10%;
}
.CurrencyIDTd div,
.ToCurrencyIDTd div{
   margin-left: -40px;
}


table th{
margin-right: 5px !important;
}
.ExpenseGroupID,
.Interest,
.ResponsibleAgentID,
.ScheduledTime,
.Position,
.Possition{
width: 6%;
}

.customCreated {
border-bottom: 1px solid red !important;

}

.mainMenu{
    /*background-color: whitesmoke;*/
    box-shadow:10px 10px 5px 0px grey;
    margin-bottom: 10px;
}
.subMenu{
    /*background-color: whitesmoke;*/
}
.newField{
height: 35px;
width: 100%;
margin-top: -20px;
padding: 0;
color: transparent;
    background-color: darkgrey;
border-bottom: 1px solid lightgrey;
border-top: 1px solid lightgrey;
overflow: hidden;
cursor: cell ;
}
.newField:hover{
color: #000;
cursor: text ;

}
.table-responsive{
overflow: visible;
}

table select,
table textarea{
border: 0 !important;
cursor:pointer;
}

/*.SinglePrice{*/
     /*min-width: 100px;*/
     /*text-align: right;*/
     /*padding-right: 0px !important;*/
 /*}*/

 /*Default to all 6% width*/

 .VAT,
 .VatID,
 .TotalAmount,
 .Quantity,
 .TotalPrice,
 .Status,
 .ExpenseStatus,
 .InvoiceStatus,
 .City,
 .Country,
 .Number,
 .AccountNumber,
 .Enabled{
     width: 6% !important;
     max-width: 6% !important;
 }
.Total{
    width: 4% !important;
}

.Total,
 .TotalPrice,
 .SinglePrice,
 .Quantity,
 /*.Status,*/
 .TotalAmount{
    width: 10% !important;
     text-align: right !important;

 }
md-table-pagination .label{
    color: black !important;
}
.dateLabel{
    color:rgba(0,0,0,0.54);
    font-weight: 700;
    font-size: 11px !important;
}
.md-datepicker-button{
    padding: 0 !important;
    margin: 0 !important;
    text-align: left !important;
}
.md-datepicker-input-container{
    margin:0 !important;
}
.md-datepicker-input-container {
    width: 100%;
    margin-left: 0px;
}






 /*Links width*/
 .URL{
     width: 8%;
 }

 /*Type and Date width*/
 .Type,
 .Date,
 .DueDate,
 .CallDate,
 .DateCreated,
 .InvoiceDate,
 .Email{
     width: 8% !important;

 }
.Telefon{
    width: 15%;
}
 .StartDate,
 .OfferDate,
 .OfferDueDate,
 .EndDate,
 .Phone{
     width: 6% !important;
 }

.space {
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

  /*Currency width , TotalAmount width Funds*/
 .CurrencyID,
 .FromCurrencyID,
 .ToCurrencyID,
 .Currency{
     width: 1% !important;
     padding: 0 !important;
     text-align: left;
 }
 .Currencies .FromCurrencyID,
 .Currencies .ToCurrencyID{
     width: 40% !important;
 }
 .TotalAmount,
 .SinglePrice,
 .FromFunds,
 .ToFunds,
 .Funds{
     width: 6%;
 }
 .Address,
 .City,
 .Country{
     width: 8%;
 }

 .totals .col-sm-8{
    padding-right: 28px;
     padding-left: 45px;
 }
 .totals .col-sm-4{
     padding: 0 !important;
 }
 .totals form .col-sm-4{
     padding-left: 25px !important;
 }

 .navbarUl li{
     cursor: pointer;
 }


 /*Angular matirial*/

md-input-container{
    margin-bottom: 0 !important;
    /*margin-top: 0 !important;*/
    /*background-color: white !important;*/
}
md-input-container .md-errors-spacer{
    min-width: 0 !important;
}

table md-input-container{
    margin-top: 0 !important;
    /*background-color: white !important;*/
}

md-datepicker.md-default-theme, md-datepicker{
    background-color: transparent;
}
.md-whiteframe-17dp{
    background-color: white;
    padding: 25px;
    border-radius: 2%;
    margin-bottom: 25px;
}
.md-whiteframe-17dp button{
    margin-right: 5px;
}
md-fab-actions button{
 margin-right: 8px;
}
md-fab-actions md-button{
    margin-left: 50px ;
 }

/*.fabSpeedDialdemoBasicUsage .text-capitalize {*/
    /*text-transform: capitalize; }*/
/*.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {*/
    /*background-color: #000 !important; }*/
/*.fabSpeedDialdemoBasicUsage p.note {*/
    /*font-size: 1.2rem; }*/
/*.fabSpeedDialdemoBasicUsage .lock-size {*/
    /*min-width: 300px;*/
    /*min-height: 300px;*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*margin-left: auto;*/
    /*margin-right: auto; }*/

.subactive {
    background-color: lightgrey;
}
.active {
    background-color: lightskyblue;
}
.smallWidth{
    width: 1% !important;
}

.groupRow {
    text-align: center;
    font-weight: 700;
    height: 24px !important;
}

.groupRow > td {
    text-align: center !important;
}
md-autocomplete{
    background-color: white;
}

.cursor-hand tr td{
    cursor: pointer;
}
.unSelectable table p,
.unSelectable table span{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}