<md-card class="md-default-theme">

    <div class="md-toolbar-tools">
        <span flex></span>
    </div>
    <md-card-content>
        Test
        <nixgrid nixconfig="gridConfig"></nixgrid>
    </md-card-content>
</md-card>

